.App{
    display: grid;
    grid-template-rows: 50px 50px auto 150px 50px;
    grid-template-areas:
        'header header header header'
        'profile newcard newcard followers'
        'profile cards cards followers'
        'trends cards cards followers'
        'trends cards cards .';
    grid-gap: 10px; 
    padding: 10px;
}

.Cards{
    grid-area: cards;
}

