.Header{
    grid-area: header;
    background: #1d2a39;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    line-height: inherit;
    padding: 15px;
}